[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
prospector = "*"
mypy = "*"
yapf = "*"

[packages]
django = "==2.2.22"
django-markdownify = "*"
django-debug-toolbar = "*"
django-admin-sortable = "*"

[requires]
python_version = "3.7"
