{% extends "listo/base.html" %}
{% load markdownify %}

{% block title %}Listo - {{ checklist.title }}{% endblock %}

{% load static %}

{% block head %}
<script>
let checklistPk = {{ checklist.pk }}
</script>
<script src="{% static 'js/checklists_detail.js' %}" defer></script>
{% endblock %}

{% block content %}
  <h3>{{ checklist.title }} 
    <small>
      <a href="{% url 'checklists_edit' pk=checklist.pk %}">Edit</a>
      <a href="{% url 'checklists_delete' pk=checklist.pk %}" class="text-danger">Delete</a>
      <a id="checklist-reorder-link" href="#">Reorder</a>
    </small>
  </h3>
  {% if checklist.description %}
  <p>
    {{ checklist.description }}
  </p>
  {% endif %}
  <ol id="checklist-items">
    {% for item in checklist.items.all %}
      <li class="checklist-item" id="checklist-list-{{ item.pk }}" data-pk="{{item.pk}}">
        <span class="checklist-item-body">{{ item.body|markdownify }}</span>
        <form action="{% url 'checklist_items_edit' pk=item.pk %}" method="POST" class="item-edit-form" id="item-edit-form-{{ item.pk }}">
          {% csrf_token %}
          <input class="item-edit-input" type="text" name="body" value="{{ item.body }}">
        </form>        
        <a class="item-edit-link" href="#" data-item-pk="{{ item.pk }}">Edit</a>
      </li>
    {% endfor %}
  </ol>

  <h4>Add a new item to your checklist</h4>
  <form action="" method="POST">
    {% csrf_token %}
    {{ item_form }}
    <button type="submit">Add item</button>
  </form>
{% endblock %}
