<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Listo</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
</head>
<body>
  <div class="container">
    <h1>Hello checklists!</h1>
    <ul>
    {% for id, checklist in lists.items %}
      <li>
        <div>{{ checklist.title }}</div>
        <ol>
          {% for item in checklist.items %}
            <li>{{ item }}</li>
          {% endfor %}
        </ol>
      </li>
    {% endfor %}
    </ul>
  </div>
</body>
</html>
