.page-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.item-edit-link {
  display: none;
}

.checklist-item:hover .item-edit-link {
  display: inline;
}

.checklist-item .item-edit-form {
  display: none;
}
